<link rel="stylesheet" type "text/css" href="css/style.css">

<!doctype HTML5>

<html lang="en">

<head>
</head>

<div id="theNavBar">
	<ul id="options">
		<ul id="home"><a class="one" href="/">Tic-Tac-Toe</a></ul>
		<div id="optionsdiv">
			<ul id="options">
				<li><a class="links" href="#">Social Media Links</a>
					<ul>
						<li><a class="facebook" href="https://www.facebook.com/minedmindsfoundation/" target = "_blank">Facebook</a></li>
						<li><a class="twitter" href= "https://twitter.com/MinedMinds" target = "_blank">Twitter</a></li>
					</ul>
				</li>
				<li><a class="about" href="http://www.minedminds.org" target = "_blank">About Mined Minds</a></li>
				<li><a class="contact" href="http://www.minedminds.org/contact" target = "_blank">Contact Mined Minds</a></li>
			</ul>
		</div>
	</ul>
</div>

<center>
<body>
	<h3>Player <%= active_player %>, make your move!</h3>
	<form method = 'post' action = '/human_move'>
		<table id='ttt_board_in_game'>
			<tr>
                <td> <input class = "board_square" type = 'submit' value = '<%= board.ttt_board[0] %>' name = 'player_choice'> </td>
                <td class = "columns"> <input class = "board_square" type = 'submit' value = '<%= board.ttt_board[1] %>' name = 'player_choice'> </td>
                <td> <input class = "board_square" type = 'submit' value = '<%= board.ttt_board[2] %>' name = 'player_choice'> </td>
            </tr>

            <tr>
                <td class = "rows"> <input class = "board_square" type = 'submit' value = '<%= board.ttt_board[3] %>' name = 'player_choice'> </td>
                <td class = "columns rows"> <input class = "board_square" type = 'submit' value = '<%= board.ttt_board[4] %>' name = 'player_choice'> </td>
                <td class = "rows"> <input class = "board_square" type = 'submit' value = '<%= board.ttt_board[5] %>' name = 'player_choice'> </td>
            </tr>

            <tr>
                <td> <input class = "board_square" type = 'submit' value = '<%= board.ttt_board[6] %>' name = 'player_choice'> </td>
                <td class = "columns"> <input class = "board_square" type = 'submit' value = '<%= board.ttt_board[7] %>' name = 'player_choice'> </td>
                <td> <input class = "board_square" type = 'submit' value = '<%= board.ttt_board[8] %>' name = 'player_choice'> </td>
            </tr>
        </table>
    </form>
</body>
</center>

</html>